.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#root {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
}

.container {
  height: 100%;
}

.login-container {
  height: 100%;
  background-color: #21212F;
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
